<!DOCTYPE html>
<!-- Reference Scripts -->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script src="@Url.Content("~/Scripts/app.js")"></script>

<html>
<head>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <!--<meta name="viewport" content="width=device-width" />-->
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css"
          href="@Url.Content("~/Content/themes/simple/style.css")" />
</head>
<body>
    <div id="main">

        <!-- Header -->
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="/">cooks<span class="logo_colour">blog</span></a></h1>
                    <h2>Cooking Recipies, Hints, Experiments and More...</h2>
                </div>
            </div>

            <!-- Navigation -->
            <div id="menubar">
                <ul id="menu">
                    <li>@Html.ActionLink("Posts", "Posts")</li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>
                    <li>@Html.ActionLink("About Us", "AboutMe")</li>
                </ul>
            </div>

        </div>

        <!-- Site Content -->
        <div id="site_content">
            @Html.Partial("_Search")
            @RenderBody()
        </div>

        <!-- Footer -->
        <div id="footer">
            <p>Content Copyright © @DateTime.Now.Year HotR and CooksBlog All Rights Reserved</p>
            <p>Theme Copyright &copy; simplestyle_horizon | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Simple web templates by HTML5</a></p>
        </div>
    </div>
</body>
</html>